/* Matugen-generated Material You colors for Waybar */
@define-color primary {{colors.primary.default.hex}};
@define-color on-primary {{colors.on_primary.default.hex}};
@define-color primary-container {{colors.primary_container.default.hex}};
@define-color on-primary-container {{colors.on_primary_container.default.hex}};

@define-color secondary {{colors.secondary.default.hex}};
@define-color on-secondary {{colors.on_secondary.default.hex}};
@define-color secondary-container {{colors.secondary_container.default.hex}};
@define-color on-secondary-container {{colors.on_secondary_container.default.hex}};

@define-color tertiary {{colors.tertiary.default.hex}};
@define-color on-tertiary {{colors.on_tertiary.default.hex}};
@define-color tertiary-container {{colors.tertiary_container.default.hex}};
@define-color on-tertiary-container {{colors.on_tertiary_container.default.hex}};

@define-color error {{colors.error.default.hex}};
@define-color on-error {{colors.on_error.default.hex}};
@define-color error-container {{colors.error_container.default.hex}};
@define-color on-error-container {{colors.on_error_container.default.hex}};

@define-color surface {{colors.surface.default.hex}};
@define-color on-surface {{colors.on_surface.default.hex}};
@define-color on-surface-variant {{colors.on_surface_variant.default.hex}};

@define-color surface-container {{colors.surface_container.default.hex}};
@define-color surface-container-low {{colors.surface_container_low.default.hex}};
@define-color surface-container-high {{colors.surface_container_high.default.hex}};
@define-color surface-container-highest {{colors.surface_container_highest.default.hex}};

@define-color outline {{colors.outline.default.hex}};
@define-color outline-variant {{colors.outline_variant.default.hex}};

@define-color inverse-surface {{colors.inverse_surface.default.hex}};
@define-color inverse-on-surface {{colors.inverse_on_surface.default.hex}};
@define-color inverse-primary {{colors.inverse_primary.default.hex}};
